.flex {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStretch {
  align-items: stretch;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.wrapNowrap {
  flex-wrap: nowrap;
}

.wrapWrap {
  flex-wrap: wrap;
}

.grow0 {
  flex-grow: 0;
}

.grow1 {
  flex-grow: 1;
}

.shrink0 {
  flex-shrink: 0;
}

.shrink1 {
  flex-shrink: 1;
}
